[Unit]
Description=Check xTrek tokens every ten minutes

[Timer]
OnCalendar=*-*-* *:00/10:00
Persistent=true
AccuracySec=1s
Unit=xtrek-token-worker.service

[Install]
WantedBy=timers.target
